.projects {
  padding: 5rem 2rem;
}

.projectCard {
  width: 400px;
  background-color: #424242;
  padding: 20px;
  height: 420px;
}

.projectCard ul {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  list-style-type: circle;
  align-items: start;
  line-height: 1;
}

.projectCard a {
  color: #fff;
  border: 1px solid white;
  padding: 10px;
  margin: 0 10px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .projectCard {
    width: 100%;
  }
}