.projects {
  padding: 5rem 2rem;
}

.projects h2 {
  padding-bottom: 40px;
}

.projectCard {
  width: 400px;
  background-color: #424242;
  padding: 20px;
  height: 260px;
}

.projectCard ul {
  display: flex;
  flex-direction: column;
  padding: 20px 0 30px 0;
  list-style-type: circle;
  text-align: left;
}

.projectCard a {
  background-color: #03c6e8;
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
}