.hero {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Hedvig Letters Serif", serif;
}

.hero h2 {
  font-size: 2.4rem;
  margin-top: 1rem;
}

.hero p {
  max-width: 500px;
  font-size: 1.2rem;
  color: rgb(195, 195, 195);
  margin: 1rem auto;
}

.hero a {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  border: 1px solid #ffffff;
  color: #fff;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
}

.hero a:hover {
  transform: translateY(-3px);
  background-color: #fff;
  color: black;
}

.heroText {
  justify-content: start;
  margin: 6rem auto;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2.8rem;
  }

  .hero p {
    padding: 0 1rem;
  }
}