.about {
  padding: 3.5rem 2rem;
}

.about h2 {
  padding-bottom: 2rem;
}

.aboutContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.about p {
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutContent p {
    width: 90%;
    margin-top: 2.4rem;
  }
}