.about {
  padding: 5rem 2rem;
  text-align: center;
}

.aboutContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about p {
  text-align: left;
  line-height: 1.2;
  width: 42%;
  font-size: 20px;
}

.profileCircle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutContent p {
    width: 90%;
    margin-top: 2.4rem;
    text-align: center;
  }
}