.about {
  padding: 5rem 2rem;
  text-align: center;
}
.aboutContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about p {
  text-align: left;
  line-height: 1.2;
  width: 42%;
  font-size: 20px;
}

.profileCircle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}