.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 30%;
}

.inputContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

label {
    color: #D4D4D4;
    text-align: left;
    padding: 10px;
    padding-left: 0;
}

input,
textarea {
    background-color: #313131;
    border: none;
    outline: none;
    border-radius: 6%;
    padding: 10px;
    color: #D4D4D4;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #F7F7F7;
    border: none;
    border-radius: 10%;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}