.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success {
    color: #F7F7F7;
}

form {
    width: 40%;
}

.inputContainer {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

label {
    color: #D4D4D4;
    text-align: left;
    padding: 10px;
    padding-left: 0;
}

input,
textarea {
    background-color: #424242;
    border: none;
    outline: none;
    padding: 10px;
    color: #D4D4D4;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #F7F7F7;
    border: none;
}

button:hover {
    background: none;
    border: 1px solid #F7F7F7;
    color: #F7F7F7;
}
.btnContainer {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    form {
        width: 90%;
    }
}