.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-top: .8rem;
  margin-left: auto;
  padding-right: 2rem;
}

.social {
  padding-top: .8rem;
  padding-left: 2rem;
}

.social a {
  margin: 0 .4rem;
}

a {
  color: #fff;
  transition: color 0.3s;
}

a:hover {
  color: #ffffff;
}