.footer {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}
.footer a {
    margin-right: 1.8rem;
}

@media only screen and (max-width: 768px) {
    .footer a {
        padding: 0.3rem;
    }
}