@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #282828;
  color: #ffffff;
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 40px;
  text-align: center;
  font-family: "Hedvig Letters Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
}
